.login{
  position:absolute;
  right: 220px;
}
.signupbtn{
  position: absolute;
  left: 6px;
}
.cancelIcon{
  position: absolute;
  left: 120px;
}
.cancelIconsignup{
  position: absolute;
  left: 50px;
}
.userIcon{
  position: absolute;
  /* top:7px; */
}
.resheduleSave{
 position: absolute;
 left: 520px;
}
.cancelNew{
  position: absolute;
  left:20%;
}
.resheduleCancel{
  position: absolute;
  left: 540px;
}
.logOutUser{
  position: absolute;
  left: 970px;
}
.logoutButton{
  position: absolute;
  left: 1160px;
}